In [1]:
import pandas as pd

In [25]:
file=r"E:\Exel pdf's\Ex.csv"
dataset=pd.read_csv(file)
print(dataset.head())

     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

In [27]:
dataset.shape

(1094, 6)

In [29]:
print(dataset)

          Sales Person    Country              Product       Date    Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1          Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2         Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3         Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4       Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685
...                ...        ...                  ...        ...       ...
1089  Karlen McCaffrey  Australia  Spicy Special Slims  17-May-22   $4,410
1090    Jehu Rudeforth        USA           White Choc  07-Jun-22   $6,559
1091      Ches Bonnell     Canada  Organic Choco Syrup  26-Jul-22     $574
1092    Dotty Strutley      India              Eclairs  28-Jul-22   $2,086
1093  Karlen McCaffrey      India       70% Dark Bites  23-May-22   $5,075

      Boxes Shipped
0               180
1                94
2                91
3               342
4               184
...             ...
1089            323
1090            119
1091            217
1092            384
1093            344

[1094 rows x 6 columns]

In [31]:
print(dataset.head())

     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

In [45]:
dataset.isNull()

AttributeError: 'DataFrame' object has no attribute 'isNull'